@use "@scss/abstract/index";

.section-inner {
  position: relative;
  z-index: 1;
  padding-bottom: 40px;
  @include index.minMedia(550px) {
    padding-bottom: 50px;
  }
  @include index.minMedia(800px) {
    padding-bottom: 100px;
  }
  @include index.minMedia(1400px) {
    padding-bottom: 150px;
  }
}

.hero-inner {
  padding: 180px 0 30px;
  @include index.minMedia(800px) {
    padding: 270px 0 50px;
  }
}
