@use "@scss/abstract/index";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.4s cubic-bezier(0.16, 0.43, 0, 1);
  color: #fff;
  &--large {
    padding: 3.75vw 0;
    .header-logo {
      width: 10.119vw;
    }
  }
  .header-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    max-width: 120rem;
  }
}

.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5.952vw;
  left: 0;
  height: 70px;
  transition: all 0.4s cubic-bezier(0.16, 0.43, 0, 1);
  @include index.minMedia(1050px) {
    justify-content: center;
  }
  .button-wrap {
    position: absolute;
    right: 0;
  }
}

.header-nav {
  display: none;
  @include index.minMedia(1050px) {
    display: table;
  }
  .menu {
    display: flex;
    align-items: center;
    height: 100%;
    .menu-item {
      font-family: "SourceSansPro", sans-serif;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      word-spacing: 0.1rem;
      letter-spacing: 0.2px;
      @include index.minMedia(1400px) {
        font-size: 15px;
      }
      & + .menu-item {
        @include index.minMedia(1050px) {
          margin-left: 0.595vw;
        }
        @include index.minMedia(1400px) {
          margin-left: 20px;
          margin-left: 1.25rem;
        }
      }
    }
    a {
      display: inline-block;
      padding: 1.2vw 1vw;
      @include index.minMedia(1400px) {
        padding: 1vw 0.8vw;
      }
      &:not([class]):hover {
        color: #1cd4bd;
        transition: all 0.4s cubic-bezier(0.16, 0.43, 0, 1);
      }
    }
  }
}
