@use "@scss/abstract/index";

section,
.section {
  position: relative;
  z-index: 1;
}

.section-type {
  height: auto;
  padding: 3.75rem 0;
  @include index.minMedia(800px) {
    padding: 6rem 0;
  }
}
