//===================== Fonts Roboto ==========================

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Thin.ttf") format("TrueType");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Light.ttf") format("TrueType");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Medium.ttf") format("TrueType");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-display: swap;
}

// ===================== Fonts SourceSansPro ====================

@font-face {
  font-family: "Din-2014";
  src: url("/assets/fonts/din-2014/DIN-2014_Bold.woff") format("WOFF");
  font-weight: 700;
  font-display: swap;
}
