@use "@scss/abstract/index";

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-theme-hero);
  color: var(--color-text-white);
  min-height: 50px;
  @include index.minMedia(800px) {
    overflow: hidden;
  }
  &--large {
    max-height: 980px;
    max-height: 61.25rem;
    @include index.minMedia(800px) {
      height: 120vh;
      min-height: 980px;
      min-height: 61.25rem;
      max-height: calc(1400px - 20vh);
    }
  }
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  max-width: 120rem;
  margin: 0;
  z-index: 10;
}

.container--large {
  padding: 0 20px;
  padding: 0 1.25rem;
  @include index.minMedia(800px) {
    padding: 0;
    padding: 0 100px;
    padding: 0 6.25rem;
  }
  @include index.minMedia(1100px) {
    max-width: 1680px;
    max-width: 105rem;
  }
}

.hero-content {
  position: relative;
  width: 100%;
  max-width: 1000px;
  max-width: 62.5rem;
  z-index: 2;
  color: #fff;
}
