@use "@scss/abstract/index";

.enquiry {
  display: flex;
  align-items: center;
  background: var(--color-theme-hero);
  height: auto;
  padding: 1rem 0;
  border-top: 0.5px solid hsla(0, 0%, 100%, 0.25);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
  z-index: 100;
  @include index.minMedia(800px) {
    padding: 1.5rem 0;
  }
  &-wrap {
    width: 100%;
    max-width: 120rem;
    max-width: 1920px;
    height: auto;
    padding: 0 1.25rem;
    text-align: center;
  }
  &-form {
    position: relative;
    font-family: "SourceSansPro", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #111;
    background-color: #18e591;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.8rem 2rem;
    border-radius: 2px;
    @include index.minMedia(550px) {
      padding: 0.8rem 2.5rem;
      font-size: 16px;
    }
    @include index.minMedia(800px) {
      font-size: 18px;
    }
    span {
      display: inline-block;
      color: #fff;
      font-weight: 700;
      padding: 0 0.5rem;
      transition: all 0.4s ease;
    }
    &:before {
      position: absolute;
      content: "❯";
      right: 1.4rem;
      transition: all 0.4s cubic-bezier(0.16, 0.43, 0, 1);
      display: none;
      @include index.minMedia(550px) {
        display: block;
      }
    }
    &:hover {
      span {
        color: #111;
      }
      &:before {
        right: 0.7rem;
      }
    }
  }
}
