// _mygrid.scss
@use "sass:math";
@use "@scss/abstract/index";

// Устанавливаем количество колонок в 10
$grid-columns: 10 !default;
$gutter: 1.25rem; // 20px
$mobile-breakpoint: 34.375rem; // 550px / 16px

.container {
  position: relative;
  width: 100%;
  max-width: 120rem;
  padding: 0 1.25rem;
  margin: 0 auto;
  z-index: 1;
  @include index.minMedia(800px) {
    padding: 0 3.75rem;
  }
  @include index.minMedia(1100px) {
    padding: 0 6.25rem;
  }
  &--middle {
    max-width: 105rem;
  }
  &--small {
    max-width: 67rem;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter; // 20px / 16px = 1.25rem
}

// Более эффективный способ генерации стилей для колонок
$columns: (
  "100": 100%,
  "80": 80%,
  "75": 75%,
  "66": calc((100% / 3) * 2),
  "60": 60%,
  "50": 50%,
  "40": 40%,
  "33": calc(100% / 3),
  "25": 25%,
  "20": 20%,
);

@each $col, $width in $columns {
  .col-#{$col} {
    width: $width;
    @media (max-width: $mobile-breakpoint) {
      width: 100%;
    }
  }
  @each $bp, $val in index.$grid-breakpoints {
    @if $bp != "xs" {
      .col-#{$col}--#{$bp} {
        @include index.minMedia($val) {
          width: $width;
        }
      }
    }
  }
}

// Общие стили для колонок
[class*="col-"] {
  box-sizing: border-box;
  padding: 0 $gutter;
  position: relative;
}

// Удаление отступов
.no-gutters {
  margin-left: 0;
  & > [class*="col-"] {
    padding: 0;
  }
}
